<ion-header no-border>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button text="Atras" defaultHref="/"></ion-back-button>

    </ion-buttons>
    <ion-title text-capitalize>{{ titulo }}</ion-title>
    <ion-buttons slot="end" >
      <ion-avatar>
        <!-- Poner ruta a Usuario-->
      <ion-button href="usuario" expand="full" shape="round" >
        <img src="/assets/images/foto.jpg"> 
      </ion-button>
    </ion-avatar>
    </ion-buttons >
  </ion-toolbar>
</ion-header>