<ion-header>
  <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>{{receta.nombreRec}}</ion-title> 
  </ion-toolbar>
</ion-header>

<ion-content>
    <div>
      <img src='{{receta.fotoRec}}'>
    </div>
    <ion-title>Descripción</ion-title>
    <div>
      <ion-item >
        {{receta.descripcion}}
      </ion-item>
    </div>


    <ion-title>Ingredientes</ion-title>
    <div>
      <ion-item class=lista *ngFor="let ing of ingrediente; index as i" >
        {{i+1}} - {{ing.ingrediente}} {{ing.cantidad}}
      </ion-item>
    </div>

    <ion-title>Pasos</ion-title>
    <div>
      <ion-item *ngFor="let paso of pasos; index as i">
        {{i+1}}- {{paso}}
      </ion-item>
    </div>
    
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Creada por: "{{usuario.usuario}}"</ion-title>
  </ion-toolbar>
</ion-footer>