<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>todas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-item *ngFor="let rec of receta">
  <ion-card href="{{rec.idReceta}}/receta">
    <img src="{{rec.fotoRec}}" />
    <ion-card-header>
      <ion-card-title>{{rec.nombreRec}}</ion-card-title>
      <ion-card-title>{{rec.valoracion}}</ion-card-title>
    </ion-card-header> 
  </ion-card>
</ion-item>


</ion-content>