<app-header [titulo]="titulos"></app-header>


<ion-content>
  <!-- Primer item Usuario-->
  <div class="datosUsuario">
    <ion-item>
  <ion-label name="LBUsuario" position="fixed" >
    Usuario
  </ion-label>
  </ion-item>
  <ion-item>
    <ion-label position="undefined" >
      {{ variable2 }}
    </ion-label >
      <ion-button  (click)="alerInputUsuario()" size="small">
          <ion-icon name="pencil"></ion-icon>
      </ion-button>
  </ion-item>   
  </div>
  <!--  //////////////////////////////////  -->
  <!-- Segundo item Correo-->
  <ion-textarea size="large">
    {{ variable3 }}
    <ion-button  (click)="alerInputCorreo()">
        <ion-icon name="pencil"></ion-icon>
    </ion-button>
  </ion-textarea>
  <!--  //////////////////////////////////  -->
   <!-- Segundo item Correo-->
  <ion-input size="large" type="password" >
    {{ variable4 }}
    <ion-button  (click)="alerInputPassword()" >
        <ion-icon name="pencil"></ion-icon>
    </ion-button>
  </ion-input>
  <!--  //////////////////////////////////  -->
  <!-- Imagen para cmabiar foto-
  <ion-button class="button buttin5" >
    <img src="/assets/images/foto.jpg"> 
  </ion-button>    
   /////////////////////////////////////// -->
   <ion-item button (click)="alerInputCorreo()" class="Avatar">
     <ion-avatar class="AvatarUsr">
      <img src="/src/assets/images/ojos.jpg"> 
    </ion-avatar>
   </ion-item>
</ion-content>
