
<app-header [titulo]="titulos"></app-header>

<ion-content class="bg">
  <div class="datosUsuario">
  <ion-item button (click)="alerInputCorreo()" class="Avatar">
    <ion-avatar class="AvatarUsr">
     <img src="/src/assets/images/foto.jpg"> 
   </ion-avatar>
  </ion-item>
  </div>
  <!-- Primer item Usuario-->
  <div class="datosUsuario">
    <ion-item>
  <ion-label   >
    Usuario
  </ion-label>
  </ion-item>
  <ion-item>
    <ion-label  >
      {{ NombreUsuario }}
    </ion-label >
      <ion-button  (click)="alerInputUsuario()" size="small">
          <ion-icon name="pencil"></ion-icon>
      </ion-button>
  </ion-item>   
  </div>
  <!--  //////////////////////////////////  -->
  <!-- Segundo item Correo-->
  <div class="datosUsuario">
    <ion-item>
      <ion-label  >
        Correo
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label >
        {{ CorreoUsuario }}
        <ion-button  (click)="alerInputCorreo()" size="small">
          <ion-icon name="pencil"></ion-icon>
        </ion-button>
      </ion-label>
    </ion-item> 
  </div>   
  <!--  //////////////////////////////////  -->
   <!-- Tercer item Password-->
   <div class="datosUsuario">
    <ion-item>
      <ion-label  >
        Password
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label >
        {{ PasswordUsuario }}
        <ion-button  (click)="alertInputPassword()" size="small">
          <ion-icon name="pencil"></ion-icon>
        </ion-button>
      </ion-label>
    </ion-item> 
  </div>  
  <!--  //////////////////////////////////  -->

</ion-content>