<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Agregar Ingredientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="dynamicModel">

    <div *ngFor="let ing of listaIngredientes" class="border">
      <div class="row">
          <div class="col">
            <ion-select [(ngModel)]="ing.idIngred" placeholder="Ingrediente"  ok-text="Agregar" cancel-text="Cancelar" >
              <ion-select-option *ngFor="let c of ingredientes" value="{{ c.idIngrediente }}">{{ c.nombreIngrediente }}</ion-select-option>
            </ion-select>
          </div>

        <div class="col">
          <input [(ngModel)]="ing.cantidad" class="colors" type="text" value="" color="danger" placeholder="Cantidad" >
        </div>
      </div>  

      <button class="btn btn-primary btn-sm" class="derecha" *ngIf="listaIngredientes.length>1" (click)="deleteItem(ing)">Eliminar</button>
    </div>

    <button (click)="addItemIngrediente()">Agregar +</button> 
  </div>

</ion-content>

<ion-footer>
  <div class="ion-padding">
    <ion-button expand="block" class="ion-no-margin" (click)="insertIngrediente()">Agregar Ingredientes</ion-button>
  </div>
</ion-footer>
