<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Mi despensa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item color="light">
    Ingrediente
    <ion-label slot="end">Cantidad</ion-label>
  </ion-item>

  <ion-list *ngFor="let d of despensa">
    <ion-item>
      {{ d.nombreIngrediente }}
      <ion-label slot="end">{{d.cantidad}}</ion-label>
      <ion-button fill="clear" slot="start" (click) = "ingredienteEliminar( d.idIngred )">
        <ion-icon name="close-circle-outline" color="danger"></ion-icon>
      </ion-button>
    </ion-item>
    
  </ion-list>
  
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addIngredientesDespensa()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
