<ion-header>
  <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button ></ion-back-button>
        </ion-buttons>
    <ion-title>Nueva receta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form  [formGroup]="profileForm">
    <div class="opacidad">
    <ion-list>

      <ion-item >
        <ion-label position="stacked">Nombre de la receta<ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text"formControlName="nombreRec" ></ion-input>
      </ion-item>

        <ion-item>
          <ion-label position="stacked">Tipo receta<ion-text color="danger">*</ion-text></ion-label>
          <ion-input required type="text" placeholder="legumbre, pastas, vegetariano..." formControlName="tipoRec"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">descripcion<ion-text color="danger">*</ion-text></ion-label>
          <ion-input required type="text" placeholder="Describre tu receta" formControlName="descripcion"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Link Imagen<ion-text color="danger">*</ion-text></ion-label>
          <ion-input required type="text" placeholder="Describre tu receta" formControlName="fotoRec"></ion-input>
        </ion-item>
    </ion-list>
    
  </div>
  </form>
</ion-content>
<ion-footer>
  <div class="ion-padding">
    <ion-button expand="block" class="ion-no-margin" (click)="nuevaReceta()">Crear Receta</ion-button>
  </div>
</ion-footer>