<ion-header>
  <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>Nueva receta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="profileForm">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="stacked">Nombre de la receta<ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text"formControlName="nombreRec" ></ion-input>
      </ion-item>

      <div>
        <ion-item>
          <ion-label position="stacked">Tipo receta<ion-text color="danger">*</ion-text></ion-label>
          <ion-input required type="text" placeholder="legumbre, pastas, vegetariano..." formControlName="tipoRec"></ion-input>
        </ion-item>
      </div>
      
      <div>
        <ion-item>
          <ion-label position="stacked">descripcion<ion-text color="danger">*</ion-text></ion-label>
          <ion-input required type="text" placeholder="Describre tu receta" formControlName="descripcion"></ion-input>
        </ion-item>
      </div>

    </ion-list>
    
    <div class="ion-padding">
      <ion-button expand="block" class="ion-no-margin" (click)="nuevaReceta()">Crear Receta</ion-button>
    </div>
  </form>
</ion-content>