<ion-header no-borde>
  <ion-toolbar>
    <ion-title>Recetas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-content fullscreen>
    <ion-list>
      <ion-item *ngFor="let f of fotitos" >
        <ion-card  routerLink="/receta" >
          <div class="contenedor">
            <img [src]=f class="lista"/>
            <ion-card-header>
              <ion-card-subtitle>Narutito</ion-card-subtitle>
              <ion-card-title>Capitulo 422</ion-card-title>
            </ion-card-header>
              <ion-card-content>
               El medio capitulo ctm u.u
             </ion-card-content>
          </div>
        </ion-card>
      </ion-item>
    </ion-list>
    
  </ion-content>

</ion-content> 

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLink="/mis-recetas">
      <ion-icon name="pizza-outline"></ion-icon>
      <ion-label>Mis recetas</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="home">
      <ion-icon name="restaurant-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/new-receta">
      <ion-icon name="add-outline"></ion-icon>
      <ion-label>Agregar Receta</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>


