#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

.lista {

  display: block;
  margin: auto;
}

.texto-encima{

  position: absolute;
  top: 10px;
  left: 10px;
}

.contenedor{
  position: relative;
  display: inline-block;
  text-align: center;
}
.bg{
  --background:none;
  background-image: url(../../assets/images/fondo4.jpg);
  background-size: 100% 100%;
}