<ion-header no-borde>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button color="primary">
        <ion-icon name="menu-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    
    <ion-title padding>Things to cook</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="bg">
  
</ion-content> 
<!-- Pruebas front javier -->
<ion-menu side="start" menuId="custom" contentId="main" class="my-custom-menu" type="overlay">
  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-title>Perfil</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>

      <ion-item  (click)="miPerfil()" detail>
        <ion-icon slot="start" name="person-outline"></ion-icon>
        <ion-label>Tu perfil</ion-label>
      </ion-item>

      <ion-item (click)="miDespensa()" detail>
        <ion-icon slot="start" name="cube-outline"></ion-icon>
        <ion-label>Tu Despensa</ion-label>
      </ion-item>
    
    </ion-list>
  </ion-content>
</ion-menu>



<ion-router-outlet id="main"></ion-router-outlet>


<!-- _________________________________________________________________  -->
<ion-tab-bar slot="bottom">
  <ion-tab-button tab="music" (click)="misRecetas()">
    <ion-label>Mis Recetas</ion-label>
    <ion-icon name="restaurant-outline"></ion-icon>
  </ion-tab-button>
  <ion-tab-button tab="movies" (click)="crearReceta()">
    <ion-label>Crear</ion-label>
    <ion-icon name="create-outline"></ion-icon>
  </ion-tab-button>
  <ion-tab-button tab="games"(click)="explorar()">
    <ion-label>Explorar</ion-label>
    <ion-icon name="pizza-outline"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>